# Ignorer le dossier de l'environnement virtuel
.venv/
# Ignorer le dossier contenant des fichiers de données
data/
dataset_binarized/
roi_images/
dataset/
extracted_rois/
dataset_chiffres_10_31_final/
dataset_chiffres_1_31_final/
dataset_augmented/
uploads/
test/
test_binarized/

__pycache__/
# ignorer les fichiers csv 
*.csv


