# Ignorer le dossier de l'environnement virtuel
.venv/
# Ignorer le dossier contenant des fichiers de données
data/
dataset_binarized/
roi_images/
dataset/
extracted_rois/
__pycache__/
# ignorer les fichiers csv 
*.csv


